
<section>
    <div class="loader">
      <div *ngIf="loading else loaded">
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>  
        <span style="--i:3;"></span>
        <span style="--i:4;"></span>
        <span style="--i:5;"></span>
        <span style="--i:6;"></span>
        <span style="--i:7;"></span>
        <span style="--i:8;"></span>
        <span style="--i:9;"></span>
        <span style="--i:10;"></span>
        <span style="--i:11;"></span>
        <span style="--i:12;"></span>
        <span style="--i:13;"></span>
        <span style="--i:14;"></span>
        <span style="--i:15;"></span>
        <span style="--i:16;"></span>
        <span style="--i:17;"></span>
        <span style="--i:18;"></span>
        <span style="--i:19;"></span>
        <span style="--i:20;"></span>
      </div>
  </div>
  
   <ng-template #loaded></ng-template>
        <div>
            <div class="container">
                <br>
                <input #find type="text" placeholder="Discover..." required>
                <br><br>
                <button class=" btn btn-dark"(click)="getData()"><h3>Search</h3></button>
                <br><br>
                <ul *ngFor="let video of videos">
                <!----   <ul *ngFor= "let places of filtered_place.name">
                        <ul *ngFor= "let video of places">-->
                            <h4>{{video.snippet.title}}</h4>
                            <p>{{video.snippet.description}}</p>
                            <a href="https://www.youtube.com/embed/{{video.id.videoId}}">
                                <img class="img-thumbnail" width="800px" height=500px src="{{video.snippet.thumbnails.high.url}}">
                            </a>
                        </ul>    
                   <!--- </ul>
                </ul>    -->
            </div>   
        </div>    
  </section>
   
  
  
  
      
    