<div class="container" >
  <div> <button class="btn btn-warning" (click)="deleteAll()">Delete All</button></div>
  <br/>
     <div class="card"    *ngFor="let hotel of hotels" >
       <h5 class="card-header">{{hotel.hotelName}}</h5>
       <div class="card-body">
         <p class="card-text">Occupants : {{hotel.members}}</p>
         <p class="card-text">Check In: {{hotel.checkIn | date: 'MM-dd-YYYY'}}</p>
         <p class="card-text">Check out: {{hotel.checkOut | date: 'MM-dd-YYYY'}}</p>
         <p class="card-text">Duration: {{hotel.duration}}</p>
         <p class="card-text">Members: {{hotel.members}}</p>
         
         <button class="btn btn-warning pull-right" (click)="deleteHotel(hotel._id)">Delete</button> &nbsp;&nbsp;  <button class="btn btn-success pull-right" (click)="updateHotel(hotel._id, hotel)">Update</button>  
       </div>
     </div>
   </div>
 