<div class="container" >
  <div> <button class="btn btn-warning" (click)="deleteAll()">Delete All</button></div>
  <br/>
     <div class="card"    *ngFor="let hotel of hotels" >
       <h5 class="card-header">{{hotel.hotelName}}</h5>
       <div class="card-body">
         <p class="card-text">{{hotel.hotelAddr}}</p>
         <p class="card-text">{{hotel.hotelPhone}}</p>
         <p class="card-text">{{hotel.hotelPriceCurr}}</p>
         <p class="card-text">{{hotel.hotelPricePerDay}}</p>
         
         <button class="btn btn-warning pull-right" (click)="deleteHotel(hotel._id)">Delete</button> &nbsp;&nbsp;  <button class="btn btn-success pull-right" (click)="updateHotel(hotel._id, hotel)">Update</button>  
       </div>
     </div>
   </div>
 